@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.team4 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.team4 h1,
.team4 h2,
.team4 h3,
.team4 h4,
.team4 h5,
.team4 h6 {
  color: #3e4555;
}

.team4 .font-weight-medium {
  font-weight: 500;
}

.team4 h5 {
  line-height: 22px;
  font-size: 18px;
}

.team4 .subtitle {
  color: #8d97ad;
  line-height: 24px;
  font-size: 13px;
}

.team4 ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
  color: #316ce8;
}

.footer-area {
  margin-top: 100px;
  padding: 50PX 0;
  box-sizing: border-box;
  background: #0dc6ec;
  color: white;
}

.main {
  width: 1200px;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.single-footer {
  width: 230px;
}

.single-footer:first-child{
  width: 400px;
}

.single-footer h4{
  text-transform: capitalize;
  font-size: 22px;
  margin-bottom: 20px;
}

.footer-social a {
  color: #333;
  border: 1px solid #333;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 50px;
  margin-right: 10px;
}

.copy {
  text-align: center;
  text-transform: capitalize;
  margin-top: 50px;
}