@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.team4 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}
h1 {
  color: white;
  padding-bottom: 25px;
}
.team4 h1,
.team4 h2,
.team4 h3,
.team4 h4,
.team4 h5,
.team4 h6 {
  color: #008575;
}

.team4 .font-weight-medium {
  font-weight: 500;
}

.team4 h5 {
  line-height: 22px;
  font-size: 18px;
}

.team4 .subtitle {
  color: #8d97ad;
  line-height: 24px;
  font-size: 13px;
}

.team4 ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
  color: #316ce8;
}

.main {
  width: 1200px;
  margin: 0 auto;
}

.copy {
  text-align: center;
  text-transform: capitalize;
  margin-top: 50px;
}

html body {
  background: #191919;
}

h2 {
  color: #30e5d0;
}

h3 {
  color: #30e5d0;
}

p {
  color: white;
}

.i-btn {
  background: #747474;
  color: white;
  outline: none;
  box-shadow: none;
}

.m-head {
  color: #30e5d0;
  text-align: center;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.footer {
  padding: 40px 0;
  background-color: #272626;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul a {
  color: white;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer .social-links a {
  font-size: 24px;
  color: white;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  margin: 0 8px;
  opacity: 0.75;
}

.copyright {
  padding-top: 40px;
  text-align: center;
}

.social-links {
  text-align: center;
  padding-bottom: 20px;
}

.cliens {
  padding: 12px 0;
  text-align: center;
}

.section-bg {
  background-color: #272626;
}

.cliens img {
  max-width: 60%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}

.img-fluids {
  height: auto;
}
/* 
.img-fluid {
  max-width: 100%;
  height: auto;
  padding: auto;
} */

.img-persona {
  max-width: 100%;
  height: auto;
  padding: auto;
}

.row .img-persona {
  max-width: auto;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: px 5px;
  border-radius: 15px;
}

h4 {
  font-size: 32px;
  font-weight: 500;
  display: inline-block;

  color: white;
}

h3 {
  font-weight: 500;
  display: inline-block;
  padding: 0 50px 5px;
  color: white;
}

/* .row .img-fluid {
  max-width: 25%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 10px 5px;
  border-radius: 15px;
} */

.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  margin-bottom: 1rem;
  width: 50%;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
  color: white;
  text-align: center;
}

* + .list-marked {
  margin-top: 15px;
}
.fun-fact {
  position: relative;
  text-align: center;
  width: 100%;
  display: block;
  margin: 25px 10px 10px;
  background: #272626;
  padding: 20px 10px 15px;
  border: 2px solid #30e5d0;
  border-radius: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 300px;
}
.fun-fact i {
  position: relative;
  font-size: 33px;
  color: whitesmoke;
  margin-bottom: 6px;
  width: 33px;
  height: 33px;
}
.fun-fact-block-value a {
  color: white;
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  display: block;
  margin-bottom: 8px;
  text-decoration: none;
}

.fun-fact-block-value {
  color: white;
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  display: block;
  margin-bottom: 8px;
}

.page-area ul li {
  list-style-type: none;
  display: inline-block;
  color: #ffffff;
  font-size: 15px;
}

/* .sketches img {
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  align-items: center;
} */

.sketches img {
  height: 500px;
  padding: 10px;
}

::selection {
  background: #008575;
  color: #fff;
}

.v-tab {
  width: 100%;
  padding: 20px;
  background: transparent;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.v-tab .topic {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.v-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.v-content .list {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 50px;
  position: relative;
}

.v-content .list label {
  height: 60px;
  font-size: 17px;
  font-weight: 500;
  line-height: 60px;
  cursor: pointer;
  padding-left: 25px;
  transition: all 0.5s ease;
  color: white;
  z-index: 12;
}

#home:checked ~ .list label.home,
#blog:checked ~ .list label.blog,
#help:checked ~ .list label.help,
#code:checked ~ .list label.code,
#extra:checked ~ .list label.code,
#about:checked ~ .list label.about #extra:checked ~ .list label.about {
  color: #fff;
}
.v-content .list label:hover {
  color: #008575;
}
.v-content .slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 110%;
  border-radius: 12px;
  background: #008575;
  transition: all 0.4s ease;
}
#home:checked ~ .list .slider {
  top: 0;
}
#blog:checked ~ .list .slider {
  top: 60px;
}
#help:checked ~ .list .slider {
  top: 120px;
}
#code:checked ~ .list .slider {
  top: 180px;
}
#about:checked ~ .list .slider {
  top: 240px;
}
#extra:checked ~ .list .slider {
  top: 300px;
}
.v-content .text-content {
  width: 80%;
  height: 100%;
}
.v-content .text {
  display: none;
}
.v-content .text .title {
  font-size: 25px;

  margin-bottom: 10px;
  font-weight: 500;
  color: #008575;
}
.v-content .text p {
  text-align: justify;
}
.v-content .text-content .home {
  display: block;
}
#home:checked ~ .text-content .home,
#blog:checked ~ .text-content .blog,
#help:checked ~ .text-content .help,
#code:checked ~ .text-content .code,
#extra:checked ~ .text-content .extra,
#about:checked ~ .text-content .about {
  display: block;
}
#blog:checked ~ .text-content .home,
#help:checked ~ .text-content .home,
#code:checked ~ .text-content .home,
#extra:checked ~ .text-content .home,
#about:checked ~ .text-content .home {
  display: none;
}
.v-content input {
  display: none;
}

.home-text img {
  margin: 0 0 0 15px;
  vertical-align: middle;
}

h5 {
  color: white;
}

.idk {
  color: white;
}
.tab-content .techtable {
  margin-top: 20px;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.tab-content {
  text-align: center;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 40px auto;
}
.t-container {
  padding: 10px;
  position: relative;
  width: 50%;
  background: transparent;
}
.text-box {
  padding: 20px 30px;
  background: #272626;
  position: relative;
  border-radius: 6px;
}

.text-box h2 {
  color: white;
}

.left-container {
  left: 0;
}

.right-container {
  left: 60%;
}

.t-container img {
  position: absolute;
  width: 140px;
  border-radius: 500%;
  right: -130px;
  top: 35px;
  z-index: 10;
}

.right-container img {
  left: -130px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #272626;
  top: 0;
  left: 55%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

h6 {
  color: white;
}
.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 70px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #272626;
  right: -15px;
}
.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 70px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #272626;
  left: -15px;
}

small {
  color: white;
}

.figure-caption {
  color: white;
}

.tech {
  width: 200px;
  height: 200px;

  /*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
  object-fit: scale-down;
}

.hcontainer {
  max-width: var(--container);
  padding: 0 1rem;
  margin: 0 auto;
}
header {
  text-align: center;
}
.section-heading {
  margin: 3rem 0;
  font-size: 4rem;
  padding-bottom: 0.7rem;
  position: relative;
  display: inline-block;
}
.section-heading::before,
.section-heading::after {
  content: "";
  position: absolute;
}
.section-heading::before {
  width: 100%;
  height: 0.2rem;
  bottom: 0;
  left: 0;
  background: var(--primary);
  border-radius: 0.2rem;
}
.section-heading::after {
  bottom: -0.4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 1rem;
  height: 1rem;
  border: 0.2rem solid var(--primary);
  background: var(--box-shadow);
}
.tab-container {
  width: 70%;
  margin: 0 auto 3rem auto;
  box-shadow: 0 0.8rem 1rem var(--box-shadow);
}
@media (max-width: 767px) {
  .tab-container {
    width: 90%;
  }
}
.tab-filter-container {
  padding: 2rem;
  text-align: center;
  background: hsl(205.71, 30.43%, 95.49%);
}
.filter-btn {
  display: inline-flex;
  padding: 0.8rem 2.5rem;
  cursor: pointer;
  border-radius: 2rem;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}
.filter-btn.active {
  background: var(--primary);
  color: var(--white);
}
.tab-filter-item-container {
  background: var(--white);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.tab-item {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0rem 3rem;
  transform: translateY(100%);
  background: var(--white-light);
  transition: transform 0.5s ease-in-out;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  place-items: center start;
}
.tab-img {
  width: 30rem;
}
.tab-heading {
  padding: 2rem 0;
  font-size: 3rem;
}
.tab-item.select_tab {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
  background: var(--white-light);
  animation: feadIn 0.6s ease-in-out;
}
.btn-primary {
  margin-top: 1.5rem;
  display: inline-block;
  background: var(--primary);
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  color: var(--white);
}
@keyframes feadIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.white pre {
  color: white;
  display: block;
  background-color: #282c34;
  border-radius: 15px;
}

.accordion {
  margin: 40px auto;
  width: 650px;
  color: white;
}

.accordion li {
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 6px;
  border-radius: 8px;
  background: #282c34;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px -1px -1px rgba(255, 255, 255, 0.7);
}

.accordion li label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

label::before {
  content: "-";
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

input[type="radio"] {
  display: none;
}

.accordion .content {
  color: #fffdd0;
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content {
  max-height: 400px;
  padding: 10px 10px 20px;
}

.accordion input[type="radio"]:checked + label::before {
  content: "+";
}

.col-md-6 img {
  border-radius: 15px;
  vertical-align: middle;
  display: tabe-cell;
  width: 400px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #30e5d0;
}

a:hover {
  color: #008575;
}

figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.comments-wrap .comments-item-wrap .comments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.comments-wrap .comments-item-wrap .comments-item img {
  border-radius: 5px;
  margin-right: 20px;
  width: 400px;
  object-fit: cover;
}

.media-body {
  -ms-flex: 1;
  flex: 1;
  vertical-align: center;
}

.comments-wrap .comments-item-wrap .comments-item .comment-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.comments-wrap .comments-item-wrap {
  margin-bottom: 20px;
  margin-right: 120px;
  margin-left: 30px;
}

.comments-wrap {
  margin-top: 20px;
}

.tabs-custom {
  text-align: left;
}

.cap {
  color: black;
}

.l-container {
  text-align: center;
}

.l-center {
  display: inline-block;
  text-align: left;
}

.img:hover {
  color: #424242;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 1;
  transform: scale(1.15);
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari and Chrome */
}

section {
  padding: 30px;
}

.table-center {
  margin-left: auto;
  margin-right: auto;
}
