@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.team4 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.team4 h1,
.team4 h2,
.team4 h3,
.team4 h4,
.team4 h5,
.team4 h6 {
  color: #008575;
}

.team4 .font-weight-medium {
  font-weight: 500;
}

.team4 h5 {
  line-height: 22px;
  font-size: 18px;
}

.team4 .subtitle {
  color: #8d97ad;
  line-height: 24px;
  font-size: 13px;
}

.team4 ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
  color: #316ce8;
}
 
.main {
  width: 1200px;
  margin: 0 auto;
}

.copy {
  text-align: center;
  text-transform: capitalize;
  margin-top: 50px;
}

html body {
  background: #191919;

}

h2{
  color: #30e5d0;
}

h3{
  color: #30e5d0;
}

p{
  color: white;
}

.i-btn{
  background: #747474;
  color: white;
  outline: none;
  box-shadow: none;
}

.m-head{
  color: #30e5d0;
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  margin: auto;
}

ul{
  list-style: none;
}

.footer{
  padding: 40px 0;
  background-color: #272626;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul a{
  color: white;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li{
  display: inline-block;
  padding: 0 15px;
}
.footer .social-links a{
  font-size: 24px;
  color: white;
  border: 1px solid #ccc;
  width: 40PX;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social-links a:hover{
  color: #24262b;
  background-color: #fff;
}